<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Socialize.Presentation</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Socialize.Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a177f3304c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="font-sans flex justify-between p-4 px-6 bg-white w-full">
            <div class="container-fluid px-5 py-3">
                <a class="navbar-brand font-semibold text-red-600 font-body font-sans text-3xl" asp-area="" asp-controller="Home" asp-action="Index">Socialize</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sm:mb-0 self-center">
                <a type="button" asp-controller="Home" asp-action="Index" class="inline-flex items-center gap-2 p-2 rounded text-sm font-semibold text-white shadow-sm bg-red-500 hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="">Sign In</span>
                </a>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted p-3 bg-red-600 text-white font-semibold">
        <div class="">
            &copy;@DateTime.Now.Year - Adrian Polanco
        </div>
    </footer>
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
