@using Socialize.Presentation.Models.Users
@model RegisterUserViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="flex flex-col p-4">
@if (TempData["SuccessMessage"] != null)
{
    <div class="rounded p-4 bg-green-300">
        @TempData["SuccessMessage"]
    </div>
}
<div class="flex flex-col md:flex-row  justify-center items-center w-full gap-x-12">

        <div class="flex flex-col items-center border border-1 border-red-500 rounded p-4">
            <img class="w-44 h-44 mb-3 rounded-full" src="~/images/user-default.png" id="imageCard" alt="Your profile photo" />
            <h5 class="mb-1 text-xl font-medium dark\:text-red-500 " id="nameCard"></h5>
            <div class="flex gap-x-1">
                <span class="text-sm text-gray-500 font-semibold" id="phoneCard"></span>
            </div>
            <div class="flex gap-x-1">
                <span class="text-sm text-gray-500 font-semibold" id="emailCard"></span>
            </div>
            <div class="flex gap-x-1">
                <span class="text-sm text-gray-500 font-semibold" id="usernameCard"></span>
            </div>
        </div>

        <form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="Create">
            @Html.AntiForgeryToken()
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-red-600">
                    Register new user
                </h3>
            </div>
                <div class="grid md:grid-cols-2  gap-4 mb-4 sm:grid-cols-2">
                    <div>
                        <label asp-for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                        <input asp-for="Name" type="text" placeholder="John" id="name-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" onblur="updateCard()">
                        <span asp-validation-for="Name" class="text-red-500"></span>
                    </div>
                    <div>
                        <label asp-for="Lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lastname</label>
                        <input asp-for="Lastname" type="text" placeholder="Doe" id="lastname-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" onblur="updateCard()">
                        <span asp-validation-for="Lastname" class="text-red-500"></span>
                    </div>
                    <div>
                        <label asp-for="Phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                        <input asp-for="Phone" type="text" placeholder="+1 829 674 8857" id="phone-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" onblur="updateCard()">
                        <span asp-validation-for="Phone" class="text-red-500"></span>
                    </div>
                    <div>
                        <label asp-for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input asp-for="Email" type="email" placeholder="johndoe@gmail.com" id="email-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" onblur="updateCard()">
                        <span asp-validation-for="Email" class="text-red-500"></span>
                    </div>
                    <div>
                        <label asp-for="Username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                        <input asp-for="Username" type="text" placeholder="john_doe64" id="username-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" onblur="updateCard()">
                        <span asp-validation-for="Username" class="text-red-500"></span>
                    </div>
                    <div class="col-span-1"></div>
                    <div>
                        <label asp-for="Password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input asp-for="Password" type="password" placeholder="Your password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <span asp-validation-for="Password" class="text-red-500"></span>
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm your password</label>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm your password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
                    </div>
                    <div class="col-span-full md:col-span-2 flex flex-col md:flex-row items-center justify-center w-full bg-white">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your profile image: </label>

                        <div class="flex items-center justify-center w-full">
                            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                    </svg>
                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                </div>
                                <input id="dropzone-file" type="file" class="hidden" onchange="previewImage(event)" asp-for="Image"/>
                            </label>
                        </div>

                    </div>
            <span asp-validation-for="Image" class="text-red-500"></span>
                </div>
                <div class="flex items-center gap-4">
                    <button type="submit" class="text-white bg-red-500 border border-red-500 hover:bg-white hover:text-red-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Sign Up
                    </button>
                    <button type="button" class="text-gray-400 inline-flex items-center hover:text-gray-700 border border-gray-400 hover:border-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                        <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                        Delete
                    </button>
                </div>
            </form>
    </div>
</div>
<script>
    function previewImage(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function () {
            const previewImg = document.querySelector('#imageCard');
            previewImg.src = reader.result;
        }

        if (file) reader.readAsDataURL(file);
    }

    function updateCard() {
        const nameInputValue = document.querySelector('#name-input').value;
        const lastnameInputValue = document.querySelector('#lastname-input').value;
        const usernameInputValue = document.querySelector('#username-input').value;
        const phoneInputValue = document.querySelector('#phone-input').value;
        const emailInputValue = document.querySelector('#email-input').value;
        if(nameInputValue && lastnameInputValue) document.getElementById('nameCard').textContent = `${nameInputValue} ${lastnameInputValue}`;
        if(usernameInputValue) document.getElementById('usernameCard').textContent = `Username: ${usernameInputValue}`;
        if(phoneInputValue) document.getElementById('phoneCard').textContent = `Phone: ${phoneInputValue}`;
        if(emailInputValue) document.getElementById('emailCard').textContent = `Email: ${emailInputValue}`;
    }
</script>